.product-specification-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .specification-item {
      width: 100%;
        box-shadow: 0 1px 0px #cdcdcd91;
        padding-block: 1rem;
    } 
    @media (min-width: 750px) {
    row-gap: 0rem;
      box-shadow: 0px 0px 1px #00000091;
    .specification-item {
      width: calc(100% / 2 - 0rem);
      box-shadow: 0px 1px 0px #cdcdcd91;
      padding: 1rem;
      .spcification-item-value {
         padding-inline: 3rem;
      }
    }
       /* .specification-item:nth-last-of-type(2) ,  */
   .specification-item:last-of-type {
      box-shadow: unset;
    }
    }
}
.specification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}